<div class="app app-header-fixed ">
    <div class="container w-xxl w-auto-xs">
        <a href="" class="navbar-brand block m-t">Administant</a>
        <div class="m-b-lg">
            <form name="form" class="form-validation">
                <div class="text-danger wrapper text-center" ng-show="authError">
                    用户名或密码错误
                </div>
                <div class="list-group list-group-sm">
                    <div class="list-group-item">
                        <input type="text" name="username" placeholder="请输入用户名" class="form-control no-border"
                               ng-model="mv.username" required="">
                    </div>
                    <div class="list-group-item">
                        <input type="password" name="password" placeholder="请输入密码" class="form-control no-border"
                               ng-model="mv.password" required="">
                    </div>
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block"
                        ng-click="mv.login()" ng-disabled="form.$invalid">登录</button>
            </form>
        </div>
    </div>
</div>
