div.app-header.navbar.ng-scope(style='position: fixed; width: 100%;')
    div.navbar-header.bg-white-only(style='color: #666;')
        strong 运营中心
    div.collapse.pos-rlt.navbar-collapse.box-shadow.bg-white-only
        div.nav.navbar-nav.hidden-xs
            //- a.btn.no-shadow.navbar-btn
            //-     i.fa.fa-dedent.fa-fw
            //- a.btn.no-shadow.navbar-btn
            //-     i.icon-user.fa-fw