style.
    .m-n {
        font-size: 17px;
    }

    .bg-light {
        position: relative;
        font-size: 16px;
        width: 250px;
        border: 1px solid #c1c3c9;
        margin-left: 5px;
        margin-top: 5px;
    }

    .sum {
        position: absolute;
        left: 333px;
        top: 70px;
        font-size: 17px;;
    }

    #sun {
        font-size: 27px;
    }

    #sub {
        font-size: 17px;
    }

    #show {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 300px;
        height: 400px;
        background-color: #fffde7;
        border: 1px solid #000011;
        z-index: 1002;
        border-radius: 2px;
        display: none;
    }

    #show_able {
        position: absolute;
        top: 25%;
        left: 45%;
        width: 300px;
        height: 400px;
        background-color: #fffde7;
        border: 1px solid #000011;
        z-index: 1002;
        border-radius: 2px;
        display: none;
    }

    .top {
        height: 50px;
        text-align: center;
        border-bottom: 1px solid #000011;
    }

    .title {
        font-size: 16px;
        line-height: 50px;
    }

    form {
        margin: 22px 20px 0 20px;
        padding-top: 12px;
        box-sizing: border-box;
    }

    label {
        width: 90px;
        text-align: right;
        margin-right: 15px;
        margin-bottom: 36px;
    }

    #code {
        display: inline-block;
    }

    #sex, #code {
        line-height: 40px;
        font-size: 18px;
        border: 0;
        background: #ccc;
        margin-bottom: 20px;
        width: 150px;
        height: 40px;
        text-align: center
    }

    #btn {
        border-radius: 6px;
        margin: 0 10%;
        background: #5499d1;
        width: 80%;
        height: 35px;
        border: 0;
        text-align: center;
        color: #fff;
    }

    #run, #runs {
        width: 150px;
        height: 40px;
        padding-left: 10px;
    }

    .view {
        position: relative;
    }

    .preview {
        display: inline-block;
        background: #999999;
        width: 45px;
        height: 25px;
        line-height: 25px;
        position: absolute;
        left: 93px;
        top: 6px;
    }

    canvas {
        margin-left: 62px;
    }
div.sum
b#sun {{mv.sum}}
span#sub 人
div.title-right
button.btn.btn-primary.btn-addon(ng-click='mv.updates()')
i.fa.fa-plus
| 添加邀请
div.panel.panel-default
div.row
div.col-sm-12
table.table.table-hover.m-b-none.b-b
thead
tr
th 时间
th 序号
th 邀请码
th 邀请人
th 邀请数
th 渠道
th 状态
th 操作
//- th.text-right
tbody
tr(ng-repeat='item in mv.invi')
th {{item.registTime}}
td {{item.ordernumber}}
td.view {{item.invitationCode}}
span#preview.preview(ng-mouseover='mv.preview(item.invitationCode)',ng-init="mv.preview(qrcode.clear())") 预览
td {{item.nickName}}
td {{item.invitationNum}}
td {{item.invitationChannel}}
td {{item.invitationStatus}}
td(style="color:#5499d1",ng-click='mv.upable(item.invitationCode)')编辑
div.row
div.col-sm-12
pagination(page-size='mv.page.size', item-count='mv.page.count', ng-model='mv.page.current')
div#show
div.top
button.close(style="position:absolute;right:10px;top:15px",type="button", ng-click='mv.dismiss()')
span ×
p.title 添加邀请码
form
//label 邀请码:
//span#sex {{ mv.code }}
  br
label 邀请人姓名:
select#run
option 请选择
option(ng-repeat='it in mv.namess' value='{{it.userId}}') {{text=it.nickname}}
br
label 邀请渠道:
select#runs
option 请选择
option(ng-repeat='item in mv.Channe' value='{{item.id}}') {{text=item.value}}
br
label 状态:
input(type="radio",name="Rad",value="1")
span(style="margin-right:10px")正常
input(type="radio",name="Rad",value="0")
禁用
button#btn(ng-click='mv.submit(item)') 提交
div#show_able
div.top
button.close(style="position:absolute;right:10px;top:15px",type="button", ng-click='mv.dismisss()')
span ×
p.title 添加邀请码
form
label 邀请码:
span#code {{ mv.able.invitationCode}}
br
label 邀请人姓名:
select#run
option {{ mv.able.nickName}}
br
label 邀请渠道:
select#runs
option {{ mv.able.invitationChannel}}
br
label 状态:
input(type="radio",name="Sad",value="1")
span 正常
&nbsp;&nbsp;
input(type="radio",name="Sad",value="0")
span 禁用
button#btn(ng-click='mv.upsubmit(mv.able)') 提交
    